# Java
*.class

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
